body {
    background-color: darkOrange;
}


.flex-container {
    width: 100%;
    margin: 0;
    position: absolute;
    padding-top: 3em;
    left: 0;
    top: 0;
    display: flex;
}

#header {
    z-index: 1;
    border-radius: 0;
    margin: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightYellow;
    font-size: 2em;
    text-align: center;
    display: inline-block;

    position: fixed;
    left: 0;
    top: 0;
}

.inner {
    background-color: lightYellow;
    padding: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1.5em;
}

.cnt {
    margin: 0.5%;
}

h1 {
    text-align: center;
    font-size: 2em;
}

button {
    border-radius : 0.2em;
}

.rlink:hover {
    color: white;
    background-color: darkOrange;
}

.rlink {
    text-align: center;
    padding: 0.5em;
    border-radius: 1em;
    margin: 0.7em;
    background-color: orange;
}

